#bgImageConainer {
  height: 30vh;
  overflow: hidden;
}

#bgImage {
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-top: -170px;
}

#mainContainer {
  margin-left: 5vw;
  margin-right: 5vw;
}

#infoBoard {
  display: flex;
  justify-content: space-around;
}

#infoPanel {
  min-width: 30vw;
  display: flex;
  justify-content: center;
}

#clockContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#clockTime,
#clockText {
  margin: 0;
}

#progressBarContainer {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 15px;
  align-items: center;
}

#weatherContainer {
  display: flex;
  align-items: center;
}

#weatherIconContainer {
  margin-left: 3vw;
  margin-right: 3vw;
}

#habitTrackerHeadBarLine {
  display: flex;
  justify-content: space-between;
}

#habitTrackerMainContent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#dayContainer {
  border: 1px solid rgba(204, 204, 204, 0.5);
}

#dayTitle {
  text-align: center;
  opacity: 0.5;
}

#toDoListOut {
  margin-left: 6px;
  margin-right: 6px;
  background-color: #313131;
  border-radius: 6px;
}

#toDoListIn {
  padding: 1px;
  margin: 3px;
  font-size: smaller;
}



/* width */
::-webkit-scrollbar {
  display: none;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
